a.bigbutton {
	text-decoration: none;
	color: black;
	text-align: center;
}

.bigbutton {
	width:  15em;
	padding:  2rem;
}

.bigbutton:hover {
	background-color: #3a4c7114;
	transition: background-color 0.2s;
}

.bigbutton h3{
	color: #3a4c71;
}

.bigbutton img{
	width: 3em;
	filter: invert(26%) sepia(9%) saturate(2722%) hue-rotate(182deg) brightness(99%) contrast(87%);
}